html, body {
    height: 100%;
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

a[href="#"] {
    text-decoration: none;
}

.page-title {
    font-size: 35px;
    color: rgb(128,0,0);
    text-align: center;
    text-transform: uppercase;
    font-family: "Marker Felt", fantasy;
}

.main-header {
    flex: 0 1 auto;
    text-align: center;
}

.main-content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.is-small {
    transform: scale(0.001);
    transition: transform 0ms;
}

.thumbnail-title {
    background:	rgba(161, 159, 159, 0.4);
    color:	black;
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0.4em, 1em;
}

.thumbnail-item {
    display: inline-block;
    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    width: 300px;
    margin: 5px;
    transition: transform 133ms ease-in-out;
}

.thumbnail-item:hover {
    transform: scale(1.1);
}

.thumbnail-list {
    display: flex;
    flex: 0 1 auto;
    list-style: none;
    order: 0;

    overflow-x: auto;
    padding: 10px 0;
    white-space: nowrap;
}

.image-description {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.detail-image {
    width: 90%;
}

.detail-image-container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-image-frame {
    position: relative;
    text-align: center;

    transition: transform 333ms cubic-bezier(.17,.67,.83,.67);
}

.detail-image-title {
    color: 	rgb(128,0,0);
    font-size: 30px;
    font-family: "Georgia", serif;
}

.description {
    font-size: 20px;
}

.description-container {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid rgb(100%, 100%, 100%);
    border: 1px solid rgba(100%, 100%, 100%, 0.8);
    margin: 10px 10px 30px 10px;  
}

.description-frame {
    position: relative;
    text-align: center;
}







